<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>物流系统 - 数字鸽业云平台</title>
</head>

<body>
<div class="container">
    <h1>数字鸽业物流系统</h1>
    <br/>
    <br/>
    项目开发接口文档：
    <br/>
    <a href="./swagger-ui.html">swagger-ui（原版）</a>
    <br/>
    <a href="./doc.html">knife4j（新皮肤版）</a>
</div>
</body>

<style>
    body {
        padding: 2em;
        font-family: "宋体", "微软雅黑", serif
    }

    body a {
        color: slateblue;
    }

    .container {
        width: 50em;
        margin: 0 auto;
    }

</style>

</html>
